.cards {
    display: grid;
    grid-template-columns: repeat(3, 4fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    justify-content: center;
}

.card {
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 20px 20px 0 0; /* 5px rounded corners */
    margin-left: 60px;
    margin-top: 20px;
    width: 400px;
    height: 400px;
    flex-direction: column;

}

.card:hover {
    box-shadow: 0 20px 40px 0 rgba(0,0,0,0.2);
    border-radius: 20px
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: left;
    padding: 2px 16px;
    color: black;
}

img {
    border-radius: 5px;
}
