// * {
// background-color: rgba(0,0,0,0.1);
// }

footer {
  display: flex;
  background-color: #c4e3cb;
  width: 100%;
 }

 .logo_footer {
   display: flex;
   justify-content: flex-start;
   float: left;
 }

.image {
  display: flex;
  width: 40px;
  height: 40px;
  margin-right: 20px;
  margin-left: 5px;
}

a:hover .image {
  opacity: 0.3;
}


.infomation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 5px;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}
