<div class="col-12">
  <div class="logo_footer">
      <a href="https://www.facebook.com/pg/lafermedelongchampparis/photos/?tab=album&album_id=596102633868099"><img class="image" src="https://www.facebook.com/images/fb_icon_325x325.png" alt="logo_facebook"/></a>
      <a href="https://www.instagram.com/cedricgrolet/?hl=fr"><img class="image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/220px-Instagram_logo_2016.svg.png" alt="logo_insta"></a>
      <a href="http://www.twitter.com"><img class="image" src="https://upload.wikimedia.org/wikipedia/fr/thumb/c/c8/Twitter_Bird.svg/langfr-280px-Twitter_Bird.svg.png" alt="logo_twitter"></a>
  </div>

  <div class="infomation">
    <p> Made with ♥️ by Mouss </p>
  </div>
</div>
