<div class="col-12">
  <div class="navbar">
    <div class="navbar_logo">
      <img src="http://image.noelshack.com/fichiers/2018/46/2/1542123023-rond.jpg" alt="avatar"/>
    </div>
      <div class="text_navbar">
        <p>Les Fruits de cette Saison</p> 
      </div>
      <div class="navbar_right">
        <div class="dropdown">
            <button class="dropbtn"><img src="http://image.noelshack.com/fichiers/2018/46/1/1542054788-avatar.png" alt="avatar"/></button>
          <div class="dropdown-content">
              <a href="https://9gag.com/">Un bouton pour faire joli</a>
              <a href="https://www.interfel.com/">Interfel</a>
              <a href="https://www.thehackingproject.org/">Un autre bouton pour faire joli</a>
          </div>
        </div>
      </div>
    </div>
  </div>
