<div class="col-4">
  <div class="cards">
    <div class="card">
        <img src="http://image.noelshack.com/fichiers/2018/46/2/1542149574-citron.png" alt="Citron" style="width:100%">
      <div class="container">
        <h4><b>Le Citron</b></h4>
          <a class ="button1" href="https://www.lesfruitsetlegumesfrais.com/fruits-legumes/agrumes/citron-citron-vert/carte-identite">Pour en savoir plus</a>
      </div>
    </div>
    <div class="card">
        <img src="http://image.noelshack.com/fichiers/2018/46/2/1542149745-kiwi.png" alt="Kiwi" style="width:100%">
      <div class="container">
        <h4><b>Le Kiwi</b></h4>
        <a class ="button1" href="https://www.lesfruitsetlegumesfrais.com/fruits-legumes/fruits-de-plantes-grimpantes/kiwi/carte-identite"> Pour en savoir plus</a>
      </div>
    </div>
    <div class="card">
        <img src="http://image.noelshack.com/fichiers/2018/46/2/1542149810-ananas.png" alt="Ananas" style="width:100%">
      <div class="container">
        <h4><b>L'ananas</b></h4>
        <a class ="button1" href="https://www.lesfruitsetlegumesfrais.com/fruits-legumes/fruits-exotiques-et-tropicaux/ananas/carte-identite">Pour en savoir plus</a>
      </div>
    </div>
  </div>
</div>

<div class="col-4">
  <div class="cards">
    <div class="card">
        <img src="http://image.noelshack.com/fichiers/2018/46/2/1542149510-clementine.png" alt="Clémentine" style="width:100%">
      <div class="container">
        <h4><b>La Clémentine</b></h4>
        <a class ="button1" href="https://www.lesfruitsetlegumesfrais.com/fruits-legumes/agrumes/clementine-mandarine/carte-identite">Pour en savoir plus</a>
      </div>
    </div>
    <div class="card">
        <img src="http://image.noelshack.com/fichiers/2018/46/2/1542149672-pomelos.png" alt="Pomelos" style="width:100%">
      <div class="container">
        <h4><b>Le Pamplemousse</b></h4>
        <a class ="button1" href="https://www.lesfruitsetlegumesfrais.com/fruits-legumes/agrumes/pomelo/carte-identite">Pour en savoir plus</a>
      </div>
    </div>
    <div class="card">
        <img src="http://image.noelshack.com/fichiers/2018/46/2/1542149890-poire.png" alt="Poire" style="width:100%">
      <div class="container">
        <h4><b>La Poire</b></h4>
        <a class ="button1" href="https://www.lesfruitsetlegumesfrais.com/fruits-legumes/fruits-a-pepins/poire/carte-identite">Pour en savoir plus</a>
      </div>
    </div>
  </div>
</div>

<div class="col-4">
  <div class="cards">
    <div class="card">
        <img src="http://image.noelshack.com/fichiers/2018/46/2/1542149513-pomme.png" alt="Pomme" style="width:100%">
      <div class="container">
        <h4><b>La Pomme</b></h4>
        <a class ="button1" href="https://www.lesfruitsetlegumesfrais.com/fruits-legumes/fruits-a-pepins/pomme/carte-identite">Pour en savoir plus</a>
      </div>
    </div>
    <div class="card">
        <img src="http://image.noelshack.com/fichiers/2018/46/2/1542149516-raisin.png" alt="Raisin" style="width:100%">
      <div class="container">
        <h4><b>Le Raisin</b></h4>
        <a class ="button1" href="https://www.lesfruitsetlegumesfrais.com/fruits-legumes/fruits-de-plantes-grimpantes/raisin/carte-identite">Pour en savoir plus</a>
      </div>
    </div>
    <div class="card">
        <img src="http://image.noelshack.com/fichiers/2018/46/2/1542066182-banane.jpg" alt="Banane" style="width:100%">
      <div class="container">
        <h4><b>La Banane</b></h4>
        <a class ="button1" href="https://www.lesfruitsetlegumesfrais.com/fruits-legumes/fruits-exotiques-et-tropicaux/banane/carte-identite">Pour en savoir plus</a>
      </div>
    </div>
  </div>
</div>
