  <div class="tabs">
		<div class="tab">
			<input name="checkbox-tabs-group" type="radio" id="checkbox1" class="checkboxtab" checked>
			<label for="checkbox1">Les Agrumes</label>
			<div class="content">
				This is the content of tab 1
			</div>
		</div>

		<div class="tab">
			<input name="checkbox-tabs-group" type="radio" id="checkbox2" class="checkboxtab">
			<label for="checkbox2">Les autres fruits</label>
			<div class="content">
				This is the content of tab 2
			</div>
		</div>
	</div>
