<!DOCTYPE html>
<html>
  <head>
    <title>UiDesign</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <!-- <button class ="button1" type="button" name="button">Button</button> -->
      <!-- <img src="http://image.noelshack.com/fichiers/2018/46/1/1542054788-avatar.png" alt="avatar"/> -->
    <header>
      <div class="navbar">
        <div class="navbar_logo">
          <img src="http://image.noelshack.com/fichiers/2018/46/1/1542054788-avatar.png" alt="avatar"/>
        </div>
        <p class="text_navbar"> Les Fruits De Saison</p>
          <div class="navbar_right">
            <div class="dropdown">
              <button class="dropbtn"><img src="http://image.noelshack.com/fichiers/2018/46/1/1542054788-avatar.png" alt="avatar"/>
              </button>
              <div class="dropdown-content">
                <a href="#">Retour en haut</a>
                <a href="#">Fruits de saison</a>
                <a href="#">Légumes de saison</a>
              </div>
            </div>
          </div>
      </div>
    </header>

  <main>
    <div class="card">
        <img src="http://image.noelshack.com/fichiers/2018/46/2/1542065438-lemon.jpg" alt="Citron" style="width:100%">
      <div class="container">
        <h4><b>Le Citron</b></h4>
        <a href="https://www.lesfruitsetlegumesfrais.com/fruits-legumes/agrumes/citron-citron-vert/carte-identite">Pour en savoir plus</a>
      </div>
    </div>
    <div class="card">
        <img src="http://image.noelshack.com/fichiers/2018/46/2/1542065333-kiwi2.jpg" alt="Kiwi" style="width:100%">
      <div class="container">
        <h4><b>Le Kiwi</b></h4>
        <a href="https://www.lesfruitsetlegumesfrais.com/fruits-legumes/fruits-de-plantes-grimpantes/kiwi/carte-identite"> Pour en savoir plus</a>
      </div>
    </div>
    <div class="card">
        <img src="http://image.noelshack.com/fichiers/2018/46/2/1542066852-ananas.jpg" alt="Ananas" style="width:100%">
      <div class="container">
        <h4><b>L'ananas</b></h4>
        <a href="https://www.lesfruitsetlegumesfrais.com/fruits-legumes/fruits-exotiques-et-tropicaux/ananas/carte-identite">Pour en savoir plus</a>
      </div>
    </div>
    <div class="card">
        <img src="http://image.noelshack.com/fichiers/2018/46/2/1542065523-clementine.jpg" alt="Clémentine" style="width:100%">
      <div class="container">
        <h4><b>La Clémentine</b></h4>
        <a href="https://www.lesfruitsetlegumesfrais.com/fruits-legumes/agrumes/clementine-mandarine/carte-identite">Pour en savoir plus</a>
      </div>
    </div>
    <div class="card">
        <img src="http://image.noelshack.com/fichiers/2018/46/2/1542065765-pomelos.jpg" alt="Pomelos" style="width:100%">
      <div class="container">
        <h4><b>Le Pamplemousse</b></h4>
        <a href="https://www.lesfruitsetlegumesfrais.com/fruits-legumes/agrumes/pomelo/carte-identite">Pour en savoir plus</a>
      </div>
    </div>
    <div class="card">
        <img src="http://image.noelshack.com/fichiers/2018/46/2/1542065854-poire.jpg" alt="Poire" style="width:100%">
      <div class="container">
        <h4><b>La Poire</b></h4>
        <a href="https://www.lesfruitsetlegumesfrais.com/fruits-legumes/fruits-a-pepins/poire/carte-identite">Pour en savoir plus</a>
      </div>
    </div>
    <div class="card">
        <img src="http://image.noelshack.com/fichiers/2018/46/2/1542065938-pomme.jpg" alt="Pomme" style="width:100%">
      <div class="container">
        <h4><b>La Pomme</b></h4>
        <a href="https://www.lesfruitsetlegumesfrais.com/fruits-legumes/fruits-a-pepins/pomme/carte-identite">Pour en savoir plus</a>
      </div>
    </div>
    <div class="card">
        <img src="http://image.noelshack.com/fichiers/2018/46/2/1542066082-raisin.jpg" alt="Raisin" style="width:100%">
      <div class="container">
        <h4><b>Le Raisin</b></h4>
        <a href="https://www.lesfruitsetlegumesfrais.com/fruits-legumes/fruits-de-plantes-grimpantes/raisin/carte-identite">Pour en savoir plus</a>
      </div>
    </div>
    <div class="card">
        <img src="http://image.noelshack.com/fichiers/2018/46/2/1542066182-banane.jpg" alt="Banane" style="width:100%">
      <div class="container">
        <h4><b>La Banane</b></h4>
        <a href="https://www.lesfruitsetlegumesfrais.com/fruits-legumes/fruits-exotiques-et-tropicaux/banane/carte-identite">Pour en savoir plus</a>
      </div>
    </div>
  </main>

  </body>
</html>
